* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

/* LOGIN PAGE */
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-container {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    /* margin-bottom: 15px; */
}

.input-group input,
textarea {
    width: 100%;
    padding: 8px 40px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #757575;
    font-size: 16px;
}

.input-group i {
    position: absolute;
    right: 12px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

#showPassword {
    display: none;
}


/* LOGIN AND SIGNUP BUTTON */
#signupBtn,
#loginBtn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#loginBtn:hover,
#signupBtn:hover {
    background: #0056b3;
}

.routing {
    margin-top: 10px;
}


/* SIGNUP PAGE */
.input-group label {
    display: block;
}

input[type="file"] {
    display: none;
}

.upload-icon {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 15px 0px 15px 11px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background: #ffffff;
    color: #757575;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fa-upload {
    display: flex !important;
}

#file-name {
    color: blue;
}

form p {
    color: red;
    text-align: left;
}


/* LOADER */
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

#loader i {
    color: white;
    font-size: 45px;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 320px) {
    .login-container {
        margin: 0 20px;
    }
}