* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.sec_one {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #c51421, #752a70)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.portion {
    height: 28rem;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    width: 22rem;
    justify-content: space-between;
    align-items: center;
}

.portion1 {
    background-color: #bdb1b1;
}

.portion3 {
    background-color: white;
}

.portion h1 {
    font-size: 3rem;
}

.portion h2 {
    color: #d10001;
    font-size: 5rem;
    font-weight: 200;
}

.portion2 {
    height: 28rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6% 0;
    left: 38%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #c51421, #752a70);
    padding: 10px 21px;
    color: white;
}

.resetGame,
.rollDice,
.holdNumber {
    cursor: pointer;
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
    width: 42%;
    padding: 9px 4px;
    border-radius: 25px;
    background-color: #d1c8bd;
    border: 1px solid black;
}

.resetGame:hover,
.rollDice:hover,
.holdNumber:hover {
    background-image: linear-gradient(to bottom right, #c51421, #752a70);
    color: white;
    border: 1px solid #852168;
}

.rollDice img {
    width: 19%;
}

#rollingDiceImage {
    width: 30%;
}

/* media query */

@media screen and (max-width: 1200px) {
    .portion2 {
        left: 37%;
    }

    .resetGame,
    .rollDice,
    .holdNumber {
        width: 33%;
        padding: 4px 0px;
    }

    p {
        font-size: 13px;
    }

    #rollingDiceImage {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .portion2 {
        left: 33%;
    }

    .portion h1 {
        font-size: 2rem;
    }

    .portion h2 {
        font-size: 4rem;
    }

    .box {
        padding: 0px 15px;
    }

    .box h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .portion2 {
        left: 30%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        flex-wrap: wrap;
        height: 100vh;
        gap: 7%;
    }

    .resetGame,
    .rollDice,
    .holdNumber {
        padding: 6px 0px;
        width: 15%;
        border-radius: 0;
    }

    #rollingDiceImage {
        width: 6%;
    }

    .portion {
        height: 14rem;
        padding: 18px 0;
        width: 25rem;
    }

    .box {
        justify-content: center;
    }

    .portion2 {
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 22px;
    }
}

@media screen and (max-width: 500px) {

    .resetGame,
    .rollDice,
    .holdNumber {
        width: 25%;
    }

    .container {
        gap: 14%;
    }
}