* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec_one {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#boxes {
    margin-top: 8rem;
    text-align: center;
    width: 40%;
}

.fstHeading {
    font-size: 2.5rem;
    margin: 0 auto;
    color: #b71a1b;
}

#box {
    margin-top: 2rem;
    background-color: brown;
    padding: 22px 0;
    color: white;
}

#box img {
    width: 30%;
    border-radius: 50%;
    margin: 20px 0;
}

#box p {
    padding: 0 9px;
}

.sec_one i {
    position: absolute;
    top: 52%;
    font-size: 40px;
    cursor: pointer;
}

i.fa-solid.fa-angle-left {
    left: 25%;
}

i.fa-solid.fa-angle-right {
    right: 25%;
}