* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}



/* SIDE PANEL */
.side-panel {
    width: 300px;
    background: #fff;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#closeMenuBtn {
    display: none;
    position: absolute;
    right: 12px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.user-details p {
    color: gray;
    text-align: center;
}

.stats {
    border-top: 1px solid #ddd;
    padding-top: 12px;
    width: 100%;
}

.stats div {
    display: flex;
    gap: 4px;
}

.stats span {
    font-weight: bold;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 10px;
}

#LogoutBtn,
#editProfileBtn {
    padding: 5px 20px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
}

#LogoutBtn:hover,
#editProfileBtn:hover {
    box-shadow: 0 4px black;
}


/* INPUT OPEN MODEL */
.post-container {
    margin-left: 320px;
    width: 65%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    gap: 40px;
}

.top_Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}

#menuBtn {
    display: none;
    width: 45px;
    height: 47px;
    border-radius: 25px;
}

.post-update {
    padding: 13px 20px;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
}

.post-update:hover {
    background-color: #dcd8d8;
    border-color: gray;
}

/* ALL POSTS */
#allPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.noPostHeading {
    text-align: center;
}

.content_posts {
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 8px 2px gray;
    width: 100%;
}

.profile {
    display: flex;
    gap: 15px;
    padding: 15px;
    justify-content: flex-start;
}

.profile_img img {
    width: 45px;
    border-radius: 50%;
    height: 45px;
}

.profile_content {
    width: 100%;
}

.profile_content input {
    width: 96%;
    padding: 12px 12px;
    border-radius: 30px;
    border: 1px solid black;
    outline: none;
}

#commentModel,.commentSection,.commentProfile{
    align-items: center;
}

.profile_content h1 {
    font-size: 25px;
}

.profile_content h4 {
    font-size: 13px;
}

hr {
    display: flex;
    width: 96%;
    margin: 0 auto;
}

.post_content p {
    padding: 15px 21px;
    line-break: normal;
    line-height: 1.5;
}

.toggleTextLink {
    color: #5a5050;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.toggleTextLink:hover {
    color: #0056b3;
    text-decoration: underline;
}

.post_content img,
.post_content video,
.post_content iframe {
    width: 99.7%;
}

.post_content iframe {
    height: 35rem;
}


/* POST LIKE */
.social-post-card {
    padding: 16px 16px 0 16px;
}

.reaction-counts {
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 18px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    border-top: 1px solid #ccc;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #555;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.action-btn:hover {
    color: #0073b1;
}

.action-btn i {
    font-size: 18px;
    fill: currentColor;
}




/* POST MODAL */
#postModel {
    animation: scaleIn 0.3s ease-in-out;
}

.posting {
    display: none;
    justify-content: center;
    align-items: center;
}

#postModel,
#preview_Post,
#edit_profile_whole {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: scaleIn 0.3s ease-in-out;
}

.postModel,
.preview_Post,
#editProfile {
    width: 50%;
    position: absolute;
    background: white;
    border-radius: 15px;
    padding: 0px 30px;
    transition: all 0.3s ease;
}

.preview_Post {
    height: 95vh;
    overflow: scroll;
}

#crossBtn {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    justify-content: end;
    padding: 10px 0;
    margin: 0;
    text-align: end;
}

.postModel textarea {
    padding: 18px;
    border-radius: 16px;
    border: 1px solid black;
    width: 100%;
}

.postModel textarea:focus {
    outline: none;
}

.fileInputPost {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 10px;
}

.fileInputPost label {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    border-radius: 25px;
    border: 1px solid white;
    background-color: white;
}

.fileInputPost label:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

#ImgName {
    font-size: 18px;
}

.post_opt {
    margin: 20px 0;
}

#postBtn,
#backPreview,
.preview_post_btn {
    font-size: 16px;
    padding: 6px 23px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#postBtn:active {
    transform: translateY(1px);
}

/* Animations */
@keyframes scaleIn {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* POST PREVIEW MODAL */
.preview_content-post {
    border-radius: 15px;
    box-shadow: 5px 5px 8px 2px gray;
    margin: 17px 0;
}

#previewImage {
    /* display: none; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0;
}

#backPreview {
    margin: 10px 0;
    position: relative;
    left: 44%;
}

p#previewText {
    line-break: auto;
    /* line-break: anywhere; */
}


/* EDIT PROFILE MODAL */
#editProfile {
    height: 95vh;
    overflow: scroll;
    background: white;
    width: 450px;
    padding: 20px 25px;
    border-radius: 0;
}


.input-group input,
.input-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    color: #757575;
    padding: 15px 20px;
    border-radius: 23px;
    outline: none;
}

.input-group label {
    display: block;
    border-radius: 23px;
}

input[type="file"] {
    display: none;
}

.upload-icon {
    display: inline-block;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 15px 0px 15px 11px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background: #ffffff;
    color: #757575;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 10px 0;
}

.ImgView {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#previwProfilePic {
    width: 200px;
    border-radius: 116px;
    height: 200px;
    overflow: hidden;
}

#submitEditBtn,
#cancelEditBtn {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 12px;
}

#postBtn:hover,
#submitEditBtn:hover,
#cancelEditBtn:hover {
    box-shadow: 0 4px black;
}


/* LOADER */
#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
}

.fa-circle-notch,
#loader i {
    color: white;
    font-size: 45px;
    animation: loading 1.5s infinite;
}

.fa-circle-notch {
    color: black;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* MEDIA QUERY */
@media screen and (max-width: 900px) {
    .side-panel {
        width: 270px;
    }

    .post-container {
        width: 67%;
        margin-left: 275px;
    }

    .postModel,
    .preview_Post {
        width: 75%;
    }
}

@media screen and (max-width: 700px) {
    .side-panel {
        width: 285px;
        padding: 20px 10px;
        left: -18rem;
    }

    .post-container {
        margin-left: 0;
        width: 100%;
    }

    #menuBtn {
        display: block;
    }

    #closeMenuBtn {
        display: block;
    }

    .postModel,
    .preview_Post {
        width: 90%;
        /* width: 70%; */
    }
}

@media screen and (max-width: 550px) {
    #editProfile {
        width: 400px;
    }
}

@media screen and (max-width: 425px) {

    #postBtn,
    #backPreview,
    .preview_post_btn {
        font-size: 16px;
        padding: 4px 15px;
    }

    .post_opt {
        flex-wrap: wrap;
        gap: 10px;
    }

    .post_content p {
        font-size: 14px;
    }

    #editProfile {
        width: 80%;
    }

    #previwProfilePic {
        width: 157px;
        height: 154px;
    }

    .postModel {
        width: 80%;
    }

    #ImgName {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .action-btn span {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .post-update {
        padding: 11px;
        font-size: 13px;
    }

    .input-group input,
    .input-group textarea,
    .upload-icon {
        font-size: 12px;
    }

    .top_Menu {
        gap: 9px;
    }

    .side-panel {
        width: 96%;
    }
}



#commentContent{
    cursor: pointer;
}